# ImageJ でのメニューリストです．
# 書き方は見れば大体わかると思います．
#
# ij.plugin.PlugIn の run() は String を引数にとるので，
# 引数を指定するときはダブルクオテーション "" を忘れないようにして下さい．
# 引数不要の場合は括弧を省略できます．
#
# 区切りにタブを使ったり行の末尾にスペースが入ってたりすると，そのプログラムが起動しなくなるので注意．

Plugins, "About Behavior", behavior.plugin.AboutBehavior

Plugins>Fear Conditioning, "FZ Online (1 chamber)", behavior.plugin.FZOnline("1")
Plugins>Fear Conditioning, "FZ Online (4 chamber)", behavior.plugin.FZOnline("4")
Plugins>Fear Conditioning, "FZ Offline", behavior.plugin.FZOffline
Plugins>Fear Conditioning, "FZ Shock Offline", behavior.plugin.FZShockOffline
Plugins>Fear Conditioning, "FZ Reference Setting", behavior.plugin.FZReferenceSetting

